* {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
    padding-top: 70px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #2f2e2e;
}

/*Style for logo*/

nav ul li.logo {
    flex: 1;
}

/*Style for search bar & button*/

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    border-radius: 10px;
}

nav ul .search-icon input {
    border: none;
    outline: none;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

/*Style for icons - trending, favorite & upload*/

nav ul div.menu-icons li {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 70px;
    height: 50px;
}

/*Style for icon buttons*/

nav ul div.menu-icons a {
    color: rgba(231, 228, 228, 0.938);
    padding: 0 12px;
    font-size: 16px;
}

nav ul div.menu-icons a:hover {
    color: white;
    font-size: 20px;
}

@media screen and(max-width: 1280px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul {
        position: sticky;
        top: 0;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.menu-icons {
        flex: 4
    }
}

.modal-body {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.modal p.modal-header {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Calibri';
    float:left;
}

.modal .modal-icons {
    float:right;
    overflow: auto;
}

.modal .modal-icons .modal-icon {
    padding:0 12px;
}

.modal p.modal-info {
    font-size: 16px;
    font-family: 'Calibri'
}

.card:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    min-width: 800px;
    max-width: 1280px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(80px, 1fr));
    grid-gap: 2px;
    column-gap: 20px;
    box-sizing: border-box;
    height: 100vh
}

.one {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
}

.two {
    grid-column: 1;
    grid-row: 2;
    width: 59%;
}

.three {
    grid-column: 2;
    grid-row: 2;
    width: 39%;
}

.navbar-fixed-top {
    min-width: 500px;
    max-width: 1280px;
    margin: auto;
}

.card {
    border: none !important;
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 120px;
}

.card img {
    max-width: 100% !important;
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

  .liked-click {
      background-color: white;
      border: none;
      color: red;
      display: flex;
      justify-content: flex-end;
  }

  .modal-header {
      display: flex;
      flex-direction: column;
  }

 .button-container {
    display: flex;
    justify-content: flex-end; 
 }

 .show-like {
   display: inline-block !important;
 }
 
 .hide-like {
     display: none !important
 }
.suggestions {
    margin-right: 30px;
}

.suggestion-text {
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
}

.fav-container {
    position: fixed;
}


.liked-click:hover {
    cursor: pointer;
    font-size: 35px;
}

.not-liked-click:hover {
    cursor: pointer;
    font-size: 35px;
}

.get-link:hover {
    cursor: pointer;
    font-size: 35px;
}

.back-to-top {
    position: fixed; 
    bottom: 10px;
}
    